# Scraping BTC data from coinmarketcap.com

In [1]:
import pandas as pd
import html5lib

In [12]:
start = '20140101'
end = '20190613'

url = "https://coinmarketcap.com/ko/currencies/bitcoin/historical-data/?start={start}&end={end}".format(start=start, end=end)

In [15]:
df = pd.read_html(url)[0]
df.head()

,날짜,시가*,고가,저가,종가**,거래량,시가총액
0,2019. 06. 12.,7925.43,8196.65,7862.36,8145.86,19034432883,144634684711
1,2019. 06. 11.,8004.24,8026.39,7772.80,7927.71,17107279932,140748537530
2,2019. 06. 10.,7692.28,8031.91,7586.73,8000.33,18689275117,142023351079
3,2019. 06. 09.,7949.67,7975.97,7583.22,7688.08,16610726547,136465098533
4,2019. 06. 08.,8036.77,8076.89,7837.61,7954.13,16522722810,141172841635

In [18]:
df.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume.USDT', 'MarketCap.USD']
df.head()

,Date,Open,High,Low,Close,Volume.USDT,MarketCap.USD
0,2019. 06. 12.,7925.43,8196.65,7862.36,8145.86,19034432883,144634684711
1,2019. 06. 11.,8004.24,8026.39,7772.80,7927.71,17107279932,140748537530
2,2019. 06. 10.,7692.28,8031.91,7586.73,8000.33,18689275117,142023351079
3,2019. 06. 09.,7949.67,7975.97,7583.22,7688.08,16610726547,136465098533
4,2019. 06. 08.,8036.77,8076.89,7837.61,7954.13,16522722810,141172841635

In [19]:
df.to_csv('BTC_coinmarketcap.csv')